{% extends 'circulation_desk/base.html' %}

{% block content %}
    <div class="container mt-2">
        <div class="chapter-header">
            <p>About</p>
        </div>
        <p class="book-text text-center">This section includes useful information about Open Librarian and our policies.</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <a id="updates" href="{% url 'archives:updates' %}" class="btn btn-sm btn-primary w-100"><i class="fa-solid fa-newspaper"></i> Updates & Features</a>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-1"></div>
            <div class="col-10">
                <a id="privacy" href="{% url 'archives:privacy' %}" class="btn btn-sm btn-primary w-100"><i class="fa-solid fa-lock"></i> Privacy Policy</a>
            </div>
        </div>
        {% if not session.nsec and not session.npub %}
            <div class="gap-2 mx-auto d-flex justify-content-center mt-2">
                <a id="back" href="{% url 'circulation_desk:index' %}" class="btn btn-sm btn-secondary"><i class="fa-solid fa-arrow-left"></i> Back</a>
            </div>
        {% endif %}
    </div>
{% endblock content %}