{% extends 'circulation_desk/base.html' %}

{% block content %}
    <div class="container mt-2">
        <p class="fw-bold">Current Features</p>
        <ul class="list-group text-start">
            <li class="list-group-item">User profile</li>
            <li class="list-group-item">Relays</li>
            <li class="list-group-item">Friends</li>
            <li class="list-group-item">Search for Books</li>
            <li class="list-group-item">Interests</li>
            <li class="list-group-item">Manage Library Shelves</li>
            <li class="list-group-item">Import Friends/Foes Lists</li>
        </ul>
    </div>
    <div class="container mt-2"></div>
        <p class="fw-bold">Privacy</p>
        <p>We don't collect any personal information.</p>
        <p>All your key and other data live on your browser in the cache, there is not backend server or on relays.</p>
        <p>We do not track you except with cross-site request forgery protection.</p>
        <p>We are not responsible for any misuse of this app or the data which you share with relays.</p>
        <p>This app is open source and available under MIT License on <a href="https://github.com/RydalWater/OpenLibrarian" target="_blank">GitHub</a>.</p>
        <p>Thank you for using Open Librarian!</p>
    </div>
{% if not npub %}
    <div class="container mt-2">
        <div class="row">
            <div class="col">
                <a href="{% url 'circulation_desk:login' %}" class="btn btn-sm btn-primary"><i class="fa-solid fa-user"></i> Log-in</a>
            </div>
            <div class="col">
                <a href="{% url 'circulation_desk:index' %}" class="btn btn-sm btn-secondary"><i class="fa-solid fa-house"></i> Home</a>
            </div>
            <div class="col">
                <a href="{% url 'circulation_desk:create-account' %}" class="btn btn-sm btn-primary"><i class="fa-solid fa-user-plus"></i> Sign-up</a>
            </div>
        </div>
    </div>
{% endif %}

{% endblock content %}