{% extends 'circulation_desk/base.html' %}

{% block content %}

<div class="container mt-2">
    <div class="chapter-header">
        <p>Import Reading Lists</p>
    </div>
    <p class="book-text text-center">Choose from one of the below options to get started with importing your reading lists.</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <a id="nostr" href="{% url 'transfers:transfers' %}" class="btn btn-sm btn-primary w-100 disabled"><i class="fa-solid fa-share-nodes"></i> Nostr</a>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-1"></div>
        <div class="col-10">
            <a id="goodreads" href="{% url 'transfers:goodreads_clone' %}" class="btn btn-sm btn-primary w-100"><i class="fa-solid fa-book-open-reader"></i> Goodreads</a>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-1"></div>
        <div class="col-10">
            <a id="other" href="{% url 'transfers:transfers' %}" class="btn btn-sm btn-primary w-100 disabled"><i class="fa-solid fa-book"></i> Other</a>
        </div>
    </div>

    <div class="gap-2 mx-auto d-flex justify-content-center mt-2">
        <a id="back" href="{% url 'transfers:transfers' %}" class="btn btn-sm btn-secondary"><i class="fa-solid fa-arrow-left"></i> Back</a>
    </div>
</div>

{% endblock content %}