{% extends 'circulation_desk/base.html' %}

{% block content %}

<div class="container mt-2">
    <div class="chapter-header">
        <p>Glossary</p>
    </div>
    <p class="book-text text-center">Here you'll be able to search, add and discover new books.</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <a id="npub" href="{% url 'glossary:search' %}" class="btn btn-sm btn-primary w-100"><i class="fa-solid fa-magnifying-glass"></i> Search</a>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-1"></div>
        <div class="col-10">
            <a id="nsec" href="{% url 'glossary:interests' %}" class="btn btn-sm btn-primary w-100"><i class="fa-solid fa-heart"></i> Interests</a>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-1"></div>
        <div class="col-10">
            <a id="nsec" href="{% url 'glossary:glossary' %}" class="btn btn-sm btn-primary w-100 disabled"><i class="fa-solid fa-shoe-prints"></i> Discover</a>
        </div>
    </div>
</div>

{% endblock content %}