// Custom styles
$primary: #65558F;
$secondary: #625B71;

// Import Bootstrap functions and variables
@import "../../node_modules/bootstrap/scss/_functions";
@import "../../node_modules/bootstrap/scss/_variables";

$custom-theme-colors: (
  "on-primary": #FFFFFF,
  "primary-container": #EADDFF,
  "on-primary-container": #21005D,
  "on-secondary": #FFFFFF,
  "secondary-container": #E8DEF8,
  "on-secondary-container": #1D192B
);

$theme-colors: map-merge($theme-colors, $custom-theme-colors);

// Import Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

.profile-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  background-color: #f9f9f9;
  max-width: 600px;
  margin: auto;
}
.interests span {
  display: inline-block;
  background-color: #e9ecef;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 2px;
}

.not-visible {
  display: none;
}

.book-text {
  text-align: justify;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.1em;
}

.dropcap {
  float: left;
  font-size: 3em;
  line-height: 1;
  padding-right: 8px;
  padding-left: 3px;
  font-family: 'Garamond', serif;
  color: #6b4f4f;
}
.chapter-header {
  text-align: center;
  font-family: 'Garamond', serif;
  font-size: 1.3em;
}
.chapter-header p {
  display: inline-block;
  position: relative;
}
.chapter-header p:before,
.chapter-header p:after {
  content: '~';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.8em;
  color: #6b4f4f;
}
.chapter-header p:before {
  left: -1em;
}
.chapter-header p:after {
  right: -1em;
}
.custom-pre-style {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  white-space: pre-wrap;
}
.star {
  font-size: 1.5rem;
  color: #ffd700; /* Gold color for stars */
}